# Python
__pycache__/
*.py[oc]
*.egg-info/

# Build / distribution
build/
dist/
wheels/

# Virtual environment
.venv

# Testing & coverage
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# macOS
.DS_Store

# Editors
.idea/
.vscode/
*.swp
*.swo
